.location-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;

}

.location-card {
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 50px;
  width: 207px;
  height: 287px;
  background-color: orange;
  border-radius: 15px;
  margin-bottom: 20px;
}

.location-card-body {
  padding: 10px;
}

.location-card-title {
  font-weight: bold;
  color: white;
}
